@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-theme-color: #000;
}

html {
  overflow-x: hidden;
}

.navbar_gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 0) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .currentNavItem {
    @apply font-semibold after:block after:h-1 after:w-full after:rounded after:bg-secondary after:content-[""];
  }

  .activeNavItem {
    @apply active:rounded active:bg-secondary_transparent;
  }

  .highlightedCard {
    @apply mx-0 md:mx-10 my-20 rounded-xl bg-[#F5CABE] md:p-10 p-2;
  }

  .h3 {
    @apply mb-4 text-3xl font-semibold;
  }
}